<h1>Movie WikiPedia Built using Rails</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic unde aliquam
  porro excepturi architecto, laudantium blanditiis aut, quis, nobis rem atque
  repudiandae veritatis voluptates? Facere, alias? Ab voluptatem dolorum
  explicabo aut nam facilis at ex labore! Officia, sequi. Numquam voluptate
  quasi pariatur inventore. Natus officia unde fugit tempore sit minima.
</p>
