/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    /* background: rgb(105, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(105, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 63%
    ); */

  background-color: #004d79;
  background-image: linear-gradient(147deg, #004d79 5%, #011f41 45%, #4e1539 79%);


  background-size: cover; /* This ensures the background covers the entire screen */
  background-repeat: no-repeat; /* This prevents the background from repeating */
  background-attachment: fixed; /* This makes the background fixed, so it doesn't scroll with the content */
  height: 100vh; /* This ensures the body takes up the full viewport height */
  margin: 0;
}

.navbar-item:hover,
.navbar-nav .nav-link:hover {
  color:#9c2c73;
}

* {
  font-family: "Rajdhani", sans-serif;
  font-weight: 1000;
  font-style: normal;
  color: white;
}

.form-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.my-form {
  border: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  width: 25vw;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.input-container input {
  color: black;
}

h1 {
  margin: 15px;
}

label {
  font-weight: bold;
  color: white;
}

.movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;  
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* background-color: rgba(105, 0, 0, 1); */
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  color: white;
}

.movie-container img {
  width: 100%;
}

.main-container {
  display: flex;
}

button {
  border: 0px solid;
}

h1 {
  color: white;
}

.white-text {
  color: white;
}

.black-button {
  color: white;
  background-color: #4e1539;
  border-radius: 5px;
  padding: 10px;
}

.black-button:hover {
  color: red;

}
