.movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgba(105, 0, 0, 1);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  color: white;
}

.movie-container img {
  width: 100%;
}

.main-container {
  display: flex;
}

button {
  border: 0px solid;
}

h1 {
  color: white;
}
